# gitignore settings for frontend

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#gitignore settings for backend
# Python
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Keep the template
!.env_template

# Python virtual environments
.venv/
venv/