.audio-div {
    background-color: rgba(0, 0, 0, 0.223);
    flex: 1;
    width: 95%;
    height: 100%;
    border-radius: 8px;
    border: white 1px solid;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}


.audio-center-div {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}


.audio-div .rhap_container {
    box-shadow: none;
    border-radius: 0px 0px 8px 8px;
    padding: 4px;
    background: rgba(40, 37, 47, 0);
    margin:0;
}

.audio-div .rhap_progress-filled,
.audio-div .rhap_progress-indicator,
.audio-div .rhap_volume-filled,
 .rhap_volume-indicator
 {
    background-color: #7324a4;
}


.audio-div  .rhap_forward-button,
.audio-div  .rhap_rewind-button,
.audio-div  .rhap_time,
.audio-div  .rhap_volume-button,
.audio-div .rhap_repeat-button,
.audio-div .rhap_play-pause-button,
.rhap_volume-bar
{
    color: #ffffff;
}
.audio-div .rhap_volume-bar {
    background-color: #ffffff;
}
.audio-div .visualizer-wrapper {
    width: calc(100% - 32px);
    margin: 0 8px 10px;
    overflow: hidden;
    border-radius: 8px;
    background: transparent;
}

.audio-div .visualizer-wrapper canvas {
    display: block;
    width: 100%;
    height: 75px;
}

fieldset{
    border: white 1px solid;
    padding: 16px;
}

legend{
    color: white;
    font-size: 18px;
    padding: 0px 8px;
}

.current-audio-disclaimer-p{
    margin: 0;
    color: #ffffffc5;
    font-size: 14px;
    margin-bottom: 8px;
    padding-left: 8px;
}

.current-audio-disclaimer-div{
width:100%;
padding-top:8px;
}
.visualizer-wrapper{
    margin-bottom: 16px;
}

.rhap_time{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}