.chat-section{
    width: 28vw;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    border-right: rgba(96, 35, 134, 0.3) 1px solid;

}

.message-view-div{
    flex:1;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    overflow-y: auto;

    background: #131115;
    background: linear-gradient(180deg, #131115 60%, #1F1726 100%);
}
.user-input-div {
    padding: 12px;

    background-color:#211829;

    border-top: 1px solid rgba(96, 35, 134, 0.3);
}

.user-input-div form {
    display: flex;
    gap: 8px;
}

.user-input-div input[type="text"] {
    flex: 1;

    padding: 10px 12px;

    border: none;
    border-radius: 8px;

    background-color: rgb(19, 17, 21);
    color: white;

    outline: none;
}

.user-input-div input[type="text"]:focus {
    outline: 1px #131115;
}


.submit-button {
    background-color: transparent;
    border: 1px solid hsla(277, 64%, 39%, 0.699);;
    border-radius: 50%;

    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2a1c36;
}

.submit-button img {
    width: 20px;
    height: 20px;
}