.message-user-div {
    align-self: flex-end;
    max-width: 70%;
    padding: 10px 14px;
    background-color: #691f97;
    color: white;
    border-radius: 16px 16px 4px 16px;
}

.message-agent-div {
    align-self: flex-start;

    max-width: 70%;

    padding: 10px 14px;

    background-color: #1a171d;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(96, 35, 134, 0.699);
    border-radius: 16px 16px 16px 4px;
}

.message-user-div p,
.message-agent-div p {
    margin: 0;

    overflow-wrap: break-word;
}